*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
}

body, html, #homePage, #mainContainer{
  height: 100%
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  overflow-x: hidden;
}

html{
  background-color: black;
}

#mainContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#headerSection{
  z-index: 1;
  margin: 20px;
  padding-top:5px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  text-align: center;
}

/*Initializes the navigation bar at top right of page.*/
.navBar{
  z-index: 1;
  display: inline-flex;
  justify-content: flex-end;
  margin:0px;
  padding:0px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  top:0px;
  width:100%;
}

.navBar ul{
  display: inline-flex;
  margin: 0px;
  padding: 20px;
  overflow: hidden;
}

.navBar a{
  display: inline-flex;
  align-items: center;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
}
.navBar a:hover{
  display: inline-flex;
}

.navBar a.active{
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
}

/*Adds an underline to active tab on navigation bar.*/
.navLink{
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 0px;
  padding-right: 10px;
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  opacity: .75;
}

.active{
  opacity:1;
}

.active::before {
  height: 4px;
  content: "";
  position: absolute;
  background-color: #9553FF;
  width: 88%;
  bottom: 4px;
  opacity: 1;
}

/*Adds a fade animation when hovering over inactive tabs.*/
.fade-up:hover {
  opacity: 1;
}

.fade-up::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: #C39CFF;
  width: 88%;
  bottom: 0px;
  opacity: 0;
}

.fade-up:hover::before {
  bottom: 4px;
  opacity: 1;
}

#footerText{
  float:left;
}

#footerText > p{
  float: left;
}

.pageLinks{
  font-size: 20px;
}

.pageLinks > a:hover{
    text-decoration: underline;
}

#introductionSection{
  display: inline-flex;
  width: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 200px;
  padding-bottom: 100px;
  background-image: url('bkgd.gif');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.introBox{
  width: 70vw;
  height: auto;
  padding: 5vw;
  background-color: #60308B;
  box-shadow: 10px 10px 10px #2A004F;
  position: relative;
  max-width: 800px;
}

#recentWorks{
  padding: 40px;
  position:relative;
  background-color: #1F1529;
  text-align: center;
}

#recentWorks > p1{
  padding: 30px;
  text-decoration: underline;
  text-decoration-color: #C39CFF;
  text-decoration-style: solid;
  text-decoration-thickness: .75vw;
  text-underline-offset: 10px;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  grid-template-rows: repeat(3, 20vw);
  grid-gap: 6vw;
  padding: 4vw;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.item{
  position: relative;
  display: flex;
  background-color: #ECD7FF;
  opacity: 1;
  padding: 2vw;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #CF9AFF;
}

.itemComingSoon{
  position: relative;
  display: flex;
  background-color: #ECD7FF;
  opacity: 1;
  padding: 2vw;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #CF9AFF;
}

.item > img{
  border-radius: 25px;
  box-shadow: 2px 2px 5px #2A004F;
  width: 20vw;
  height: 15vw;
  max-width: 350px;
  max-height: 300px;
}

.itemComingSoon > img{
  border-radius: 25px;
  box-shadow: 2px 2px 5px #2A004F;
  width: 20vw;
  height: 15vw;
  max-width: 350px;
  max-height: 300px;
}

.itemDescription{
  display: block;
  padding: 2vw;
}

.itemDescription > h3{
  font-size: min(3vw, 40px);
  color: black;
}

.itemDescription > p{
  font-size: min(2vw, 30px);
  color: black;
  padding-right: 10vw;
}
button {
  width: 15vw;
  height: auto;
  min-height: 5vw;
  max-width: 200px;
  background-color: #ECD7FF;
  border-radius: 15px;
  border-color: #9553FF;
  border-width: thin;
  color: black;
  cursor:pointer;
  position: absolute;
  bottom: 10%;
  left: 79%;
  font-family: serif;
  font-size: min(2vw,30px);
}

button:hover{
  background-color: #350064;
  color: white;
}

.itemComingSoon button{
  background-color: #ECD7FF;
  color: black;
  cursor:not-allowed;
}

#footer{
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: auto;
  text-align: center;
  background-color: black;
}

#socialLinks{
  float:right;
  padding-bottom: 20px;
  padding-right: 20px;
}

#socialLinks > a > img{
  width: 5vw;
  height: 5vw;
  filter:grayscale();
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

#socialLinks > a > img:hover{
  filter:none;
}

#aboutContentContainer{
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 150px;
}

#introToRhi{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: flex-start;
  text-align: justify;
}

#bioPhoto{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#bioPhoto > img{
  width: 35vw;
  filter: grayscale();
  height: auto;
  margin-left: 20px;
  border-style: double;
  border-radius: 50%;
  border-color: #DCB4FF;
  border-width: thick;
}

#bioPhoto > img:hover{
  filter:none;
  transition: 300ms;
}

#bioPhoto > p:hover{
  color: #DCB4FF;
}

#personalBio > p{
  font-size: min(2vw, 30px);
  color: white;
}

#casualBio{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#biography{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #1F1529;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

#casualBio > p1{
  padding: 30px;
  text-decoration: underline;
  text-decoration-color: #C39CFF;
  text-decoration-style: solid;
  text-decoration-thickness: .75vw;
  text-underline-offset: 10px;
  text-align: center;
}

#casualBio > p{
  font-size: min(2vw, 30px);
  color: white;
}

#casualBio a:hover{
  color: #DCB4FF;
  text-decoration: underline;
}

#project{
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

#projectName{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

#projectThumbnails{
  width: 25%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  padding-top: 40px;
}

#projectThumbnailsVert{
  width: 25%;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  padding-top: 40px;
}

#projectThumbnails > img{
  width: 30vw;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 40px;
}

#projectThumbnailsVert > img{
  width: 20vw;
  height: auto;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 40px;
}

#projectSectionHeader > p1{
  padding: 30px;
  text-decoration: underline;
  text-decoration-color: #C39CFF;
  text-decoration-style: solid;
  text-decoration-thickness: .75vw;
  text-underline-offset: 10px;
  text-align: center;
}

#projectName > p, #projectOverview p, #projectOverviewDescription p, #projectDesignProcessResearch p, #projectDesignProcessResearch li, #projectDesignProcessCreating p, #projectDesignProcessCreating li, #projectDesignProcessBrainstorming p, #projectDesignProcessBrainstorming li, #projectNextSteps p, #projectReflection p{
  font-size: min(2vw, 30px);
  color: white;
  text-align: justify;
}

#projectOverviewDetails p{
  font-size: min(2vw, 30px);
  color: white;
  text-align: left;
}

#projectOverviewDetails p2, #projectNextSteps p2{
  font-size: min(2vw, 30px);
  color: #DCB4FF;
}

#projectOverview{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
  width: 100%;
  background-color: #1F1529;
}

#projectSectionHeader{
  padding-bottom: 40px;
}

#projectOverviewContent{
  display: flex;
  flex-direction: row;
}

#projectOverviewDescription{
  width: 75%;
  padding: 20px;
  padding-top: 0px;
  text-align: justify;
}

#projectOverviewDetails{
  width: 20%;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 40px;
  text-align: left;
}

#projectDesignProcess{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

#projectDesignProcessThumbnail > img{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

#projectDesignProcessEmpathize, #projectDesignProcessDefineAndIdeate, #projectDesignProcessPrototypeAndTest{
  background-color: #1F1529;
  padding: 40px;
  width: 100%;
}

#projectDesignProcessEmpathize h1, #projectDesignProcessDefineAndIdeate h1, #projectDesignProcessPrototypeAndTest h1{
  text-align: center;
  font-size: min(4vw, 70px);
  color: #DCB4FF;
  text-shadow: .2vw .2vw #360064;
}

#projectDesignProcessResearch p2, #projectDesignProcessBrainstorming p2, #projectDesignProcessCreating p2, #beforeAndAfterContentContainer p2{
  font-size: min(3vw, 50px);
  color: white;
}

#projectDesignProcessResearch > img, #projectDesignProcessBrainstorming > img, #projectDesignProcessCreating > img{
  width: 100%;
  height: auto;
  text-align: justify;
  padding-bottom: 20px;
}

#beforeAndAfterContentContainer{
  width: 100%;
  text-align: left;
}

#finalPrototype, #beforeAndAfter{
  width: 100%;
  height: auto;
  text-align: center;
}

#reflectionContent{
  display: flex;
  flex-direction: row;
}

#reflectionAndNextSteps{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
  width: 100%;
  text-align: justify;
  background-color: #1F1529;
}

#projectReflection{
  width: 50%;
  padding: 20px;
  padding-top: 0px;
}

#projectNextSteps{
  width: 40%;
  padding-top: 0px;
  padding-left: 40px;
  padding-bottom: 40px;
  text-align: justify;
}

#compare{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

#compareItem, #compareItem1, #compareItem2{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: space-around;
}

#compareItem1, #compareItem2{
  margin: 0;
}

#compareItem > img{
  width: 75%;
  height: auto;
  padding-bottom: 20px;
}

#compareItem1 > img{
  width: 75%;
  height: auto;
  padding-bottom: 20px;
}

#compareItem2 > img{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

#projectDesignProcessAdvertisement > video{
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

#projectDesignProcessAdvertisement > img{
  width: 100%;
  height: auto;
}

iframe{
  width: 100%;
  height: 50vw;
  padding-bottom: 20px;
}

embed{
  width: 100%;
  height: 100vw;
  padding-bottom: 20px;
}

span{
  color: #9553FF;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

li::before {
  content: "• ";
  color: #DCB4FF;
  padding: 20px;
}

h2{
  font-size: min(8vw, 100px);
}

h3{
  font-size: min(4vw, 50px);
}

h2 span, h3 span{
  color: #DCB4FF;
  text-shadow: .2vw .2vw #360064;
}

p1{
  font-size: min(4vw, 50px);
}

p1 span{
  color: #DCB4FF;
  text-shadow: .2vw .2vw #360064;
  font-size: min(5vw, 60px);
}

p4{
  opacity: 75%;
  float: left;
}

#casualBio span{
  color: #DCB4FF;
  font-weight:bold;
  font-size: min(2vw, 30px);
  text-decoration: underline;
}
